<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/image-removebg-preview.png') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <title>intelli brad AI</title>
</head>
<body>
    <div class="row">
      <div class="chatbox_support">
        <div class="row1">
          <div class="logo">
            <img src="{{ url_for('static', filename='images/image-removebg-preview.png') }}" class="logo-img" alt="" srcset="">
          </div>
            <h1 class="center">Intelli brad AI</h1>
        </div>
      
      <div class="chatbox-display">
        <div class="chatbox-msg">
          <div></div>
        </div>
      </div>      

        <div class="row2">
            <input type="text" name="message" class="inp">
            <button type="submit" class="btn-submit send_button"><i class="fa fa-paper-plane" id="btn-send" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
    <script>
      $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>